#login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    margin-top: 55px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 440px;
    background-color: #F0F9F8;
    border: 3px solid #77bab3;
    border-radius: 20px;
    display: flex;
    transition: height .2s ease;
    overflow: hidden;
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-boxgiriş {
    width: 100%;
    padding: 40px;
}
.wrapper .form-boxkaydol {
    width: 100%;
    padding: 40px;
}

.wrapper .form-boxgiriş{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-boxgiriş{
    transition: none; 
    transform: translateX(-400px);
}
.wrapper .form-boxkaydol{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}
.wrapper.active .form-boxkaydol{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-boxkaydol h2 {
    font-size: 2em;
    color: #437972;
    text-align: center;
}
.form-boxgiriş h2 {
    font-size: 2em;
    color: #437972;
    text-align: center;
}
.input-box {
    position: relative;
    border-bottom: 2px solid #437972;
    margin: 30px 0;
    width: 100%;
    height: 50px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #437972;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    font-size: 1em;
    color: #437972;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #437972;
    line-height: 57px;
}

.hatırlama-unutma {
    font-size: .9em;
    color: #437972;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.hatırlama-unutma a{
    color: #437972;
    text-decoration: none;
}
.hatırlama-unutma a:hover{
    text-decoration: underline;
}
.hatırlama-unutma label input{
    accent-color: #437972;
    margin-right: 3px;
}
.btn-light{
    width: 100%;
    height: 45px;
    background: #2b504d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-kaydol{
    font-size: .9em;
    color: #2b504d;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-kaydol p a{
    color: #2b504d;
    text-decoration: none;
    font-weight: 600;
}
.login-kaydol p a:hover{
    text-decoration: underline;
}