#solsütun{
    background-color: hsl(336, 43%, 50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100vh;
}
#melike{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 15px;
    
}
#header{
    text-align: center;
    color: #C6E6E3;
}
#header h3{
    color: #e4fffc;
}
#ozgecmis{
    background-color: #C6E6E3;
}

